{% load static %}
<!doctype html>
<html class="no-js" lang="en">

    <head>
        <!-- META DATA -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		
		

        <!--font-family-->
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
		
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
		
		<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
		
        <!-- TITLE OF SITE -->
        <title>Zombiz</title>

        <!-- for title img -->
		<link rel="shortcut icon" type="image/icon" href="{% static 'core/images/logo/favicon.png' %}"/>
       
        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="{% static 'core/css/font-awesome.min.css' %}">
		
		<!--linear icon css-->
		<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
		
		<!--animate.css-->
        <link rel="stylesheet" href="{% static 'core/css/animate.css' %}">
		
		<!--hover.css-->
        <link rel="stylesheet" href="{% static 'core/css/hover-min.css' %}">
		
		<!--vedio player css-->
        <link rel="stylesheet" href="{% static 'core/css/magnific-popup.css' %}">

		<!--owl.carousel.css-->
        <link rel="stylesheet" href="{% static 'core/css/owl.carousel.min.css' %}">
		<link href="{% static 'core/css/owl.theme.default.min.css' %}" rel="stylesheet"/>


        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
		
		<!-- bootsnav -->
		<link href="{% static 'core/css/bootsnav.css' %}" rel="stylesheet"/>	
        
        <!--style.css-->
        <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
        
        <!--responsive.css-->
        <link rel="stylesheet" href="{% static 'core/css/responsive.css' %}">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		
        <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
	
	<body>
		<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
		
		<!--header start-->
		<section class="header">
			<div class="container">	
				<div class="header-left">
					<ul class="pull-left">
						<li>
							<a href="#">
								<i class="fa fa-phone" aria-hidden="true"></i> +992 563 542
							</a>
						</li><!--/li-->
						<li>
							<a href="#">
								<i class="fa fa-envelope" aria-hidden="true"></i>info@mail.com
							</a>
						</li><!--/li-->
					</ul><!--/ul-->
				</div><!--/.header-left -->
				<div class="header-right pull-right">
					<ul>
						<li class="reg">
							<a href="#" data-toggle="modal" data-target=".bs-example-modal-sm">
								Register
							</a>
								/
							<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">
								Log in
							</a>
							
							<!-- small modal -->
							<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
								<div class="modal-dialog modal-sm" role="document">
									<div class="modal-content">
										<div class="modal-header">
											 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
											 	<span aria-hidden="true">
											 		<i class="fa fa-close"></i>
											 	</span>
											 </button> 
											<h4 class="modal-title" id="mySmallModalLabel">
												Sign In
											</h4> 
											<form class="sm-frm" style="padding:25px">
												<label>Name :</label>
												<input type="text" class="form-control" placeholder="Enter Email">
												<label>Passoward :</label>
												<input type="text" class="form-control" placeholder="Enter Passoward">
												<label><input type="checkbox" name="personality"> Remenber Me</label>
												<button type="button" class="btn btn-default pull-right">Submit</button>
											</form>
										</div>
									</div>
								</div>
							</div>
							
							<!-- large modal -->
							<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											 	<span aria-hidden="true">
											 		<i class="fa fa-close"></i>
											 	</span>
											</button>  
											<h4 class="modal-title" id="myLargeModalLabel">Register</h4> 
											<form class="lg-frm" style="padding:25px">
												<label>Name :</label>
												<input type="text" class="form-control" placeholder="Enter Name">
												<label>Email :</label>
												<input type="text" class="form-control" placeholder="Enter Email">
												<label>Passoward :</label>
												<input type="text" class="form-control" placeholder="Enter Passoward">
												<button type="button" class="btn btn-default pull-right">Submit</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</li><!--/li -->
						<li>
							<div class="social-icon">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								</ul><!--/.ul -->
							</div><!--/.social-icon -->
						</li><!--/li -->
					</ul><!--/ul -->
				</div><!--/.header-right -->
			</div><!--/.container -->	

		</section><!--/.header-->	
		<!--header end-->
		
		<!--menu start-->
		<section id="menu">
			<div class="container">
				<div class="menubar">
					<nav class="navbar navbar-default">
					
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="index.html">
								<img src="{% static 'core/images/logo/logo.png' %}" alt="logo">
							</a>
						</div><!--/.navbar-header -->

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li class="active"><a href="index.html">Home</a></li>
								<li><a href="about.html">About</a></li>
								<li><a href="service.html">Service</a></li>
								<li><a href="project.html">Project</a></li>
								<li><a href="team.html">Team</a></li>
								<li><a href="blog.html">Blog</a></li>
								<li><a href="contact.html">Contact</a></li>
								<li>
									<a href="#">
										<span class="lnr lnr-cart"></span>
									</a>
								</li>
								<li class="search">
									<form action="">
										<input type="text" name="search" placeholder="Search....">
										<a href="#">
											<span class="lnr lnr-magnifier"></span>
										</a>
									</form>
								</li>
							</ul><!-- / ul -->
						</div><!-- /.navbar-collapse -->
					</nav><!--/nav -->
				</div><!--/.menubar -->
			</div><!-- /.container -->

		</section><!--/#menu-->
		<!--menu end-->
		
		<!-- header-slider-area start -->
		<section class="header-slider-area">
			<div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
			
			  <!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<div class="single-slide-item slide-1">
							<div class="container">
								<div class="row">
									<div class="col-sm-12">
										<div class="single-slide-item-content">
											<h2>Sua nova casa <br> até 5 vezes mais barata</h2>
											<p>
												Tenha uma cota em uma casa de alto padrão e desfrute suas férias sem se preocupar.
											</p>
											<button type="button" class="slide-btn">
											Fazer orçamento
											</button>
											<button type="button"  class="slide-btn">
											Saiba mais
											</button>
										</div><!-- /.single-slide-item-content-->
									</div><!-- /.col-->
								</div><!-- /.row-->
							</div><!-- /.container-->
						</div><!-- /.single-slide-item-->
					</div><!-- /.item .active-->
					<div class="item">
						<div class="single-slide-item slide-2">
							<div class="container">
								<div class="row">
									<div class="col-sm-12">
										<div class="single-slide-item-content">
											<h2>
												Sem preocupações <br> Sem burocracia
											</h2>
											<p>
												Nós cuidamos de tudo para que você só precise se preocupar em como aproveitar.
											</p>
											<button type="button" class="slide-btn">
											Fazer orçamento
											</button>
											<button type="button"  class="slide-btn">
											Saiba mais
											</button>
										</div><!-- /.single-slide-item-content-->
									
									</div><!-- /.col-->
								</div><!-- /.row-->
							</div><!-- /.container-->
						</div><!-- /.single-slide-item-->
					</div><!-- /.item .active-->
					<div class="item">
						<div class="single-slide-item slide-3">
							<div class="container">
								<div class="row">
									<div class="col-sm-12">
										<div class="single-slide-item-content">
											<h2>
												Uma casa que cabe no seu bolso <br> Pague em até 10 anos
											</h2>
											<p>
												Além de fracionar o preço do imóvel em cotas proporcionamos o financiamento ideal para você
											</p>
											<button type="button" class="slide-btn">
											Fazer orçamento
											</button>
											<button type="button"  class="slide-btn">
											Saiba mais
											</button>
										</div><!-- /.single-slide-item-content-->
									
									</div><!-- /.col-->
								</div><!-- /.row-->
							</div><!-- /.container-->
						</div><!-- /.single-slide-item-->
					</div><!-- /.item .active-->
				</div><!-- /.carousel-inner-->

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="lnr lnr-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="lnr lnr-chevron-right"></span>
				</a>
			</div><!-- /.carousel-->

		</section><!-- /.header-slider-area-->
		<!-- header-slider-area end -->
		
		<!--we-do start -->
		<section  class="we-do">
			<div class="container">
				<div class="we-do-details">
					<div class="section-header text-center">
						<h2>Como conseguimos isso?</h2>
						<p>
							Dividimos sua propriedade em 10 cotas. Dessa forma você pode usufruir o imóvel pelo tempo ideal e compartilhar e o custo com os outros proprietários. Mas não se preocupe, cuidamos de tudo para você! Decoração, manutenção, gestão... Tudo é por nossa conta. E ainda facilitamos o pagamento para que você possa pagar em até 10 anos. Agora você só precisa se preocupar em aproveitar!
						</p>
					</div><!--/.section-header-->
					<div class="we-do-carousel">
						<div class="row">
							<div class="col-sm-4 col-xs-12">
								<div class="single-we-do-box text-center">
									<div class="we-do-description">
										<div class="we-do-info">
											<div class="we-do-img">
												<img src="{% static 'core/images/home/consultency.png' %}" alt="image of consultency" />
											</div><!--/.we-do-img-->
											<div class="we-do-topics">
												<h2>
													<a href="#">
														Compra coletiva
													</a>
												</h2>
											</div><!--/.we-do-topics-->
										</div><!--/.we-do-info-->
										<div class="we-do-comment">
											<p>
												Compre apenas aquilo que você precisa. Cotas até 5 vezes mais baratas que o valor do imóvel.
											</p>
										</div><!--/.we-do-comment-->
									</div><!--/.we-do-description-->
								</div><!--/.single-we-do-box-->
							</div><!--/.col-->
							<div class="col-sm-4 col-xs-12">
								<div class="single-we-do-box text-center">
									<div class="we-do-description">
										<div class="we-do-info">
											<div class="we-do-img">
												<img src="{% static 'core/images/home/busisness_grow.png' %}" alt="image of business" />
											</div><!--/.we-do-img-->
											<div class="we-do-topics">
												<h2>
													<a href="#">
														Veja seu imóvel se valorizar
													</a>
												</h2>
											</div><!--/.we-do-topics-->
										</div><!--/.we-do-info-->
										<div class="we-do-comment">
											<p>
												Cuidamos de toda decoração, manutenção e gestão para que seu imóvel se valorize a partir do primeiro dia.
											</p>
										</div><!--/.we-do-comment-->
									</div><!--/.we-do-description-->
								</div><!--/.single-we-do-box-->
							</div><!--/.col-->
							<div class="col-sm-4 col-xs-12">
								<div class="single-we-do-box text-center">
									<div class="we-do-description">
										<div class="we-do-info">
											<div class="we-do-img">
												<img src="{% static 'core/images/home/support-logo.png' %}" alt="image of support" />
											</div><!--/.we-do-img-->
											<div class="we-do-topics">
												<h2>
													<a href="#">
														O melhor atendimento
													</a>

												</h2>
											</div><!--/.we-do-topics-->
										</div><!--/.we-do-info-->
										<div class="we-do-comment">
											<p>
												Estamos a disposição 24h por dia para fazer da sua experiência a melhor possível
											</p>
										</div><!--/.we-do-comment-->
									</div><!--/.we-do-description-->
								</div><!--/.single-we-do-box-->
							</div><!--/.col-->
						</div><!--/.row-->
					</div><!--/.we-do-carousel-->
				</div><!--/.we-do-details-->
			</div><!--/.container-->

		</section><!--/.we-do-->
		<!--we-do end-->

		<!--about-us start -->
		<section class="about-us">
			<div class="container">
				<div class="about-us-content">
					<div class="row">
						<div class="col-sm-6">
							<div class="single-about-us">
								<div class="about-us-txt">
									<h2>Sobre nós</h2>
									<p>
										Anos de experiência no mercado imobiliário tradicional combinado com tecnologia de ponta. Nosso time de especialistas consegue os melhores preços no imóvel que você escolher. Isso é combinado com nossos algorítmos de inteligência artificial para encontrar as pessoas ideais para dividir as despesas de cada imóvel.
									</p>
								</div><!--/.about-us-txt-->
							</div><!--/.single-about-us-->
						</div><!--/.col-->
						<div class="col-sm-6">
							<div class="single-about-us">
								<div class="about-us-img">
									<img src="{% static 'core/images/about/about-part.jpg' %}" alt="about images">
								</div><!--/.about-us-img-->
							</div><!--/.single-about-us-->
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.about-us-content-->
			</div><!--/.container-->

		</section><!--/.about-us-->
		<!--about-us end -->

		<!--statistics start-->
		<section  class="statistics">
			<div class="container">
				<div class="statistics-counter "> 
					
					<div class="col-md-3 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-img">
								<img src="{% static 'core/images/counter/counter2.png' %}" alt="counter-icon" />
							</div><!--/.statistics-img-->
							<div class="statistics-content">
								<div class="counter">10256</div>
								<h3>Avaliações feitas</h3>
							</div><!--/.statistics-content-->
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
					<div class="col-md-3 col-sm-6">
						<div class="single-ststistics-box">
							<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><title>House</title><path id="House" d="M24.82,10,21,6.84V1.5a.5.5,0,0,0-.5-.5h-3a.5.5,0,0,0-.5.5V3.56L12.82.12a.5.5,0,0,0-.63,0L.18,10a.5.5,0,0,0-.08.69l1.47,1.91a.5.5,0,0,0,.71.08L3,12.08V23.75A1.27,1.27,0,0,0,4.29,25H20.71A1.27,1.27,0,0,0,22,23.75V12.08l.71.58a.5.5,0,0,0,.32.11h.06a.5.5,0,0,0,.34-.19l1.47-1.91A.5.5,0,0,0,24.82,10ZM18,2h2V6L18,4.38ZM8,24V17h3v7Zm13-.25a.27.27,0,0,1-.29.25H12V16.5a.5.5,0,0,0-.5-.5h-4a.5.5,0,0,0-.5.5V24H4.29A.27.27,0,0,1,4,23.75V11.26l8.5-7,8.5,7Zm1.94-12.19L12.82,3.27a.5.5,0,0,0-.63,0L2.06,11.57l-.86-1.12L12.5,1.15l11.31,9.29ZM15.5,20h3a.5.5,0,0,0,.5-.5v-5a.5.5,0,0,0-.5-.5h-3a.5.5,0,0,0-.5.5v5A.5.5,0,0,0,15.5,20Zm.5-5h2v4H16Z" fill="#ffff"/></svg>
							<div class="statistics-content">
								<div class="counter">521</div>
								<h3>Casas Vendidas</h3>
							</div><!--/.statistics-content-->
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
					<div class="col-md-3 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-img">
								<img src="{% static 'core/images/counter/counter4.png' %}" alt="counter-icon" />
							</div><!--/.statistics-img-->
							<div class="statistics-content">
								<div class="counter">5329</div>
								<h3>Clientes Satisfeitos</h3>
							</div><!--/.statistics-content-->
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
					<div class="col-md-3 col-sm-6">
						<div class="single-ststistics-box">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><defs><style>.cls-1{fill:#ffff;}</style></defs><title>Asset 51</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M61.33,58.67H7l9.9-19.8L30.29,50.05a2.67,2.67,0,0,0,4-.68L50,23.24l1.31,4.09a2.67,2.67,0,0,0,2.54,1.86,2.54,2.54,0,0,0,.81-.13,2.68,2.68,0,0,0,1.73-3.35L53,15.34a2.66,2.66,0,0,0-3.35-1.73L39.53,16.84a2.67,2.67,0,0,0,1.62,5.08l4.19-1.33L31.32,44,17.71,32.62a2.68,2.68,0,0,0-4.1.85L5.33,50V2.67A2.67,2.67,0,1,0,0,2.67V61.33a3.49,3.49,0,0,0,.07.37,2.62,2.62,0,0,0,.12.57,2.76,2.76,0,0,0,.25.44,2.79,2.79,0,0,0,.28.42,2.58,2.58,0,0,0,.45.35,2.25,2.25,0,0,0,.3.24l.11,0,.15.05a2.58,2.58,0,0,0,.93.19H61.33a2.67,2.67,0,1,0,0-5.33Z"/></g></g></svg>
							<div class="statistics-content">
								<div class="percent-container">
									<div class="counter">38</div>
									<div class="percent">%</div>
								</div>
								<h3>Valorização média </h3>
							</div><!--/.statistics-content-->
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
					
				</div><!--/.statistics-counter-->	
			</div><!--/.container-->

		</section><!--/.statistics-->
		<!--statistics end-->
		
		<!--service start-->
		<section  class="service">
				<div class="container">
					<div class="service-details">
						<div class="section-header text-center">
							<h2>Nossos Serviços</h2>
							<p>
								Descubra como podemos te ajudar a ter sua casa dos sonhos
							</p>
						</div><!--/.section-header-->
						<div class="service-content-one">
							<div class="row">
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="{% static 'core/images/service/service1.png' %}" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#">Match de compradores</a>
											</h2>
											<p>
												Encontramos compradores para dividirem a casa em cotas que cabem no seu bolso.
											</p>
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="{% static 'core/images/service/service2.png' %}" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#">Trilha do Sucesso</a>
											</h2>
											<p>
												Cuidamos de todos os passos, desde a compra até a decoração do imóvel, para que você só precise aproveitar.
											</p>
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="{% static 'core/images/service/service3.png' %}" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#">Valorização no dia 1</a>
											</h2>
											<p>
												Nossos profissionais cuidam do seu imóvel para conseguir a maior valorização possível do mercado. Revender nunca foi tão fácil.
											</p>
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->
							</div><!--/.row-->
						</div><!--/.service-content-one-->
						<div class="service-content-two">
							<div class="row">
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="{% static 'core/images/service/service4.png' %}" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#">Gestão Premium</a>
											</h2>
											<p>
												Pague o seu imóvel em até 10 anos com juros extremamente competitivos. Isso só é possível devido a nossa expertise no mercado e a tecnologia por trás da plataforma.
											</p>
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="{% static 'core/images/service/service5.png' %}" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#">Comunidade de Cotas</a>
											</h2>
											<p>
												Compartilhe sua cota nos momentos que não for utilizar o imóvel com outros clientes e aproveite novos imóveis nas suas próximas férias.
											</p>
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="{% static 'core/images/service/service6.png' %}" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#">Suporte 24/7</a>
											</h2>
											<p>
												Se preocupe apenas em desfrutar sua casa. Nossa equipe está preparada para resolver qualquer imprevisto para você.
											</p>
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->
							</div><!--/.row-->
						</div><!--/.service-content-two-->
					</div><!--/.service-details-->
				</div><!--/.container-->

		</section><!--/.service-->
		<!--service end-->

		<!--project start-->
		<section id="main-form"  class="main-form">
			<div class="container">
				<div class="row">
					<h2>Faça um Orçamento Instantâneo</h2>
					<div class="contact-form">
						<p>Cole o link do anúncio e vamos fazer um orçamento de 1 cota com base no nosso histórico para a região e perfil do imóvel.
						Nossa plataforma irá buscar por outros compradores e te retorna assim que for possível fazer a compra.</p>							
						<form>
							<div class="row">
								<div class="col-sm-6 col-xs-12">
									<div class="form-group">
										<input type="text" class="form-control" id="name" placeholder="Nome Completo" name="name">
									</div><!--/.form-group-->
								</div><!--/.col-->
								<div class="col-sm-6 col-xs-12">
									<div class="form-group">
										<input type="email" class="form-control" id="email" placeholder="E-mail" name="email">
									</div><!--/.form-group-->
								</div><!--/.col-->
							</div><!--/.row-->
							<div class="row">
								<div class="col-sm-9">
									<div class="form-group">
										<input type="text" class="form-control" id="url" placeholder="Link do Zap Imóveis" name="url">
									</div><!--/.form-group-->
								</div><!--/.col-->
								<div class="col-sm-3">
									<div class="single-estimate-btn">
										<button class="contact-btn" type="button">Orçar</button>
									</div><!--/.single-single-estimate-btn-->
								</div><!--/.col-->
							</div><!--/.row-->
						</form><!--/form-->
					</div><!--/.contact-form-->	
				</div>
				<div class="row">
					<div class="estimate">
						<h3>Estamos quase lá!</h3>
						<p class="disclaimer">Este orçamento é apenas uma estimativa baseada no nosso histórico. Já estamos trabalhando para encontrar mais interessados pelo imóvel e assim que forem fechadas todas as cotas você receberá uma proposta no seu email.</p>
						
						<div class="estimate-values">
							<p><b>Valor do Imóvel:</b> R$ 100.000</p>
							<p><b>Condomínio:</b> R$ 100.000</p>
							<p><b>IPTU:</b> R$ 100.000</p>
						</div>
						<p class="savings"><b>Você economiza 80%</b></p>
						<h4>Agora é só aguardar nosso contato!</h4>
					</div>
				</div>			
			</div><!--/.container-->

		</section><!--/.project-->
		<!--project end-->

		<!-- testemonial Start -->
		<section   class="testemonial">
			<div class="container">
				<div class="section-header text-center">
					<h2>
						<span>
							O que nossos clientes falam sobre nós
						</span>
					</h2>
				</div><!--/.section-header-->
				<div class="owl-carousel owl-theme" id="testemonial-carousel">
					<div class="home1-testm item">
						<div class="home1-testm-single text-center">
							<div class="home1-testm-img">
								<img src="{% static 'core/images/client/testimonial1.jpg' %}" alt="img"/>
							</div><!--/.home1-testm-img-->
							<div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
								<p>
									Nunca pensei qeu poderia comprar algo tão incrível por tão pouco. Estou tendo as melhores férias da minha vida!
								</p>
								<h3>
									<a href="#">
										Renato Santos
									</a>
								</h3>
							</div><!--/.home1-testm-txt-->	
						</div><!--/.home1-testm-single-->
					</div><!--/.item-->
					<div class="home1-testm item">
						<div class="home1-testm-single text-center">
							<div class="home1-testm-img">
								<img src="{% static 'core/images/client/testimonial2.jpg' %}" alt="img"/>
							</div><!--/.home1-testm-img-->
							<div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
								<p>
									O atendimento é simplesmente fantástico. Não tive que me preocupar com nada. Cuidaram de toda a burocracia, decoração... Muito mais do que eu podia imaginar.
								</p>
								<h3>
									<a href="#">
										Rafael Teixeira
									</a>
								</h3>
							</div><!--/.home1-testm-txt-->	
						</div><!--/.home1-testm-single-->
					</div><!--/.item-->
				</div><!--/.testemonial-carousel-->
			</div><!--/.container-->

		</section><!--/.testimonial-->	
		<!-- testemonial End -->

		<!--clients start-->
		<section class="clients">
			<div class="container">
				<div class="clients-area">
					<div class="owl-carousel owl-theme" id="client">
						<div class="item">
							<a href="#">
								<img src="{% static 'core/images/client/client1.png' %}" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a href="#">
								<img src="{% static 'core/images/client/client2.png' %}" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a href="#">
								<img src="{% static 'core/images/client/client3.png' %}" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a href="#">
								<img src="{% static 'core/images/client/client4.png' %}" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a href="#">
								<img src="{% static 'core/images/client/client5.png' %}" alt="brand-image" />
							</a>
						</div><!--/.item-->
					</div><!--/.owl-carousel-->
				</div><!--/.clients-area-->
			</div><!--/.container-->

		</section><!--/.clients-->
		<!--clients end-->

		<!--contact start-->
		<section  class="contact">
			<div class="container">
				<div class="contact-details">
					<div class="section-header contact-head  text-center">
						<h2>Entre em contato</h2>
						<p>
							Estamos ansiosos para poder se apresentar mais sobre essa oportunidade.
						</p>
					</div><!--/.section-header-->
					<div class="contact-content">
						<div class="row">
							<div class="col-sm-offset-1 col-sm-5">
								<div class="single-contact-box">
									<div class="contact-right">
										<div class="contact-adress">
											<div class="contact-office-address">
												<h3>Informações de contato</h3>
												<div class="contact-online-address">
													<div class="single-online-address">
														<i class="fa fa-phone"></i>
														+551135283747
													</div><!--/.single-online-address-->
													
													<div class="single-online-address">
														<i class="fa fa-envelope-o"></i>
														<span>contato@zumbiz.com</span>
													</div><!--/.single-online-address-->
												</div><!--/.contact-online-address-->
											</div><!--/.contact-office-address-->
											<div class="contact-office-address">
												<h3>Redes Sociais</h3>
												<div class="contact-icon">
													<ul>
														<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li><!--/li-->
														<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li><!--/li-->
														<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li><!--/li-->
														<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li><!--/li-->
													</ul><!--/ul-->
												</div><!--/.contact-icon-->
											</div><!--/.contact-office-address-->
											
										</div><!--/.contact-address-->
									</div><!--/.contact-right-->
								</div><!--/.single-contact-box-->
							</div><!--/.col-->
							<div class="col-sm-5">
								<div class="single-contact-box">
									<div class="contact-form">
										<h3>Mande um mensagem</h3>
										<form>
											<div class="row">
												<div class="col-sm-6 col-xs-12">
													<div class="form-group">
													  <input type="text" class="form-control" id="firstname" placeholder="Nome" name="firstname">
													</div><!--/.form-group-->
												</div><!--/.col-->
												<div class="col-sm-6 col-xs-12">
													<div class="form-group">
													  <input type="text" class="form-control" id="lastname" placeholder="Sobrenome" name="laststname">
													</div><!--/.form-group-->
												</div><!--/.col-->
											</div><!--/.row-->
											<div class="row">
												<div class="col-sm-6 col-xs-12">
													<div class="form-group">
														<input type="email" class="form-control" id="email" placeholder="E-mail" name="email">
													</div><!--/.form-group-->
												</div><!--/.col-->
												<div class="col-sm-6 col-xs-12">
													<div class="form-group">
														<input type="text" class="form-control" id="phone" placeholder="Telefone" name="phone">
													</div><!--/.form-group-->
												</div><!--/.col-->
											</div><!--/.row-->
											<div class="row">
												<div class="col-sm-12">
													<div class="form-group">
														<textarea class="form-control" rows="7" id="comment" placeholder="Mensagem" ></textarea>
													</div><!--/.form-group-->
												</div><!--/.col-->
											</div><!--/.row-->
											<div class="row">
												<div class="col-sm-12">
													<div class="single-contact-btn pull-right">
														<button class="contact-btn" type="button">Enviar Mensagem</button>
													</div><!--/.single-single-contact-btn-->
												</div><!--/.col-->
											</div><!--/.row-->
										</form><!--/form-->
									</div><!--/.contact-form-->
								</div><!--/.single-contact-box-->
							</div><!--/.col-->
						</div><!--/.row-->
					</div><!--/.contact-content-->
				</div><!--/.contact-details-->
			</div><!--/.container-->

		</section><!--/.contact-->

		<!-- new-project start -->
		<section  id="new-project" class="new-project">
				<div class="container">
					<div class="new-project-details">
						<div class="row">
							<div class="col-md-10 col-sm-8">
								<div class="single-new-project">
									<h3>
										Quer ter sua casa de férias dos sonhos? Vamos Começar!
									</h3>
								</div><!-- /.single-new-project-->	
							</div><!-- /.col-->	
							<div class="col-md-2 col-sm-4">
								<div class="single-new-project">
									<a href="#" class="slide-btn">
										Começar!
									</a>
								</div><!-- /.single-new-project-->	
							</div><!-- /.col-->	
						</div><!-- /.row-->	
					</div><!-- /.new-project-details-->	
				</div><!-- /.container-->	

		</section><!-- /.new-project-->	
		<!-- new-project end -->
		
		<!--hm-footer start-->
		<section class="hm-footer">
			<div class="container">
				<div class="hm-footer-details">
					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="hm-footer-widget">
								<div class="hm-foot-title ">
									<div class="logo">
										<a href="index.html">
											<img src="{% static 'core/images/logo/logo.png' %}" alt="logo" />
										</a>
									</div><!-- /.logo-->
								</div><!--/.hm-foot-title-->
								<div class="hm-foot-para">
									<p>
										Sua casa de férias dos sonhos 5 vezes mais barata!
									</p>
								</div><!--/.hm-foot-para-->
								<div class="hm-foot-icon">
									<ul>
										<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li><!--/li-->
										<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li><!--/li-->
										<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li><!--/li-->
										<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li><!--/li-->
									</ul><!--/ul-->
								</div><!--/.hm-foot-icon-->
							</div><!--/.hm-footer-widget-->
						</div><!--/.col-->
						<div class=" col-md-2 col-sm-6 col-xs-12">
							<div class="hm-footer-widget">
								<div class="hm-foot-title">
									<h4>Links</h4>
								</div><!--/.hm-foot-title-->
								<div class="footer-menu ">	  
									<ul class="">
										<li><a href="index.html" >Home</a></li>
										<li><a href="about.html">Sobre</a></li>
										<li><a href="services.html">Serviços</a></li>
										<li><a href="portfolio.html">Portfolio</a></li>
										<li><a href="contact.html">Contato</a></li> 
									</ul>
								</div><!-- /.footer-menu-->
							</div><!--/.hm-footer-widget-->
						</div><!--/.col-->
						<div class=" col-md-3 col-sm-6 col-xs-12">
							<div class="hm-footer-widget">
								<div class="hm-foot-title">
									<h4>from the news</h4>
								</div><!--/.hm-foot-title-->
								<div class="hm-para-news">
									<a href="blog_single.html">
										The Pros and Cons of Starting an Online Business.
									</a>
									<span>12th June 2017</span>
								</div><!--/.hm-para-news-->
								<div class="footer-line">
									<div class="border-bottom"></div>
								</div>
								<div class="hm-para-news">
									<a href="blog_single.html">
										The Pros and Cons of Starting an Online Business.
									</a>
									<span>12th June 2017</span>
								</div><!--/.hm-para-news-->
							</div><!--/.hm-footer-widget-->
						</div><!--/.col-->
						<div class=" col-md-3 col-sm-6  col-xs-12">
							<div class="hm-footer-widget">
								<div class="hm-foot-title">
									<h4> Our Newsletter</h4>
								</div><!--/.hm-foot-title-->
								<div class="hm-foot-para">
									<p class="para-news">
										Subscribe to our newsletter to get the latest News and offers..
									</p>
								</div><!--/.hm-foot-para-->
								<div class="hm-foot-email">
									<div class="foot-email-box">
										<input type="text" class="form-control" placeholder="Email Address">
									</div><!--/.foot-email-box-->
									<div class="foot-email-subscribe">
										<button type="button" >go</button>
									</div><!--/.foot-email-icon-->
								</div><!--/.hm-foot-email-->
							</div><!--/.hm-footer-widget-->
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.hm-footer-details-->
			</div><!--/.container-->

		</section><!--/.hm-footer-details-->
		<!--hm-footer end-->
		
		<!-- footer-copyright start -->
		<footer class="footer-copyright">
			<div class="container">
				<div class="row">
					<div class="col-sm-7">
						<div class="foot-copyright pull-left">
							<p>
								&copy; All Rights Reserved. Designed and Developed by
							 	<a href="https://www.themesine.com">ThemeSINE</a>
							</p>
						</div><!--/.foot-copyright-->
					</div><!--/.col-->
					<div class="col-sm-5">
						<div class="foot-menu pull-right
						">	  
							<ul>
								<li ><a href="#">Política de Privacidade</a></li>
							</ul>
						</div><!-- /.foot-menu-->
					</div><!--/.col-->
				</div><!--/.row-->
				<div id="scroll-Top">
					<i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div><!--/.scroll-Top-->
			</div><!-- /.container-->

		</footer><!-- /.footer-copyright-->
		<!-- footer-copyright end -->



		<!-- jaquery link -->

		<script src="{% static 'core/js/jquery.js' %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        
        <!--modernizr.min.js-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		
		
		<!--bootstrap.min.js-->
        <script type="text/javascript" src="{% static 'core/js/bootstrap.min.js' %}"></script>
		
		<!-- bootsnav js -->
		<script src="{% static 'core/js/bootsnav.js' %}"></script>
		
		<!-- for manu -->
		<script src="{% static 'core/js/jquery.hc-sticky.min.js' %}" type="text/javascript"></script>

		
		<!-- vedio player js -->
		<script src="{% static 'core/js/jquery.magnific-popup.min.js' %}"></script>


		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

        <!--owl.carousel.js-->
        <script type="text/javascript" src="{% static 'core/js/owl.carousel.min.js' %}"></script>
		
		<!-- counter js -->
		<script src="{% static 'core/js/jquery.counterup.min.js' %}"></script>
		<script src="{% static 'core/js/waypoints.min.js' %}"></script>
		
        <!--Custom JS-->
        <script type="text/javascript" src="{% static 'core/js/jak-menusearch.js' %}"></script>
        <script type="text/javascript" src="{% static 'core/js/custom.js' %}"></script>
		

    </body>
	
</html>



